
/* *
{
    background: rgb(199, 213, 233);
} */
.table{
    background-color: #c5dbea;

} 

#Table
{
background: thistle;
}
*
{
    background: rgb(221, 251, 221);
}
h1{
    background-color: #fadcdc;
}