* {
  padding: 0;
  margin: 0;
  /* width: 100%; */
  box-sizing: border-box;
}

.header {
    background-color: #304ee6;
    height: 40px;
    display: flex;
    align-items: center;
    /* position: sticky; */
    top: 0;
    width: 100%;
  }
  

  .manu {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 14px;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px;
  }

  .manu a {
    color: white;
    text-decoration: none;
  }

  .manu a:hover {
  text-decoration: underline;
}


  .contact {
    margin-left: 50px;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .contact2 {
    margin-left: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .social-media {
    margin-left: auto;
    margin-right: 130px;
    display: flex;
    gap: 20px;
  }

  .social-media a {
    color: rgba(255, 255, 255, 0.656);
    
  }
  .social-media a:hover {
    color:white;
    
  }




.menu-item {
  display: flex;
  gap: 10px;
  align-items: center;

}

.menu-item :hover {
  color: #304ee6;
  text-decoration: underline;
}

.header2
{
  background-color: #fff;
  position:sticky;
  top:0px;
  width: 100%;
}

.about {
  background-color: #eaecef;
  display: flex;
  /* top: 15px; */
  align-items: center;
  padding: 9px 20px;
  justify-content: space-between;
  height: 55px;
  font-size: 14px;
  font-family:  "Roboto", system-ui, -apple-system, "Segoe UI",
  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  margin-right: 120px;

  h1
  {
    margin-left: 50px;
  }

}

.about h1
{
  font-size: 28px;
  font-weight: 700;

}

.navmenu ul{
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navmenu ul li a{

  display: flex;
  align-items: center;
  /* gap: 2px; */
  color: rgb(17, 29, 29);
  font-size: large;
  font-weight: 500;
  padding: 3px 0;
  transition: color 0.3s;
  text-decoration: none;
}

.navmenu ul li a:hover
{
 color: #304ee6;
 text-decoration:underline;

}

.navmenu .dropdown
{
  position: relative;
}

.navmenu .dropdown ul
{
display: none;
position: absolute;
top: 100%;
background-color: #fff;
border-radius: 6px;
min-width: 200px;
padding: 10px 0;
flex-direction: column;
align-items: flex-start;

}

.navmenu .dropdown:hover ul{
  display: flex;
}

.navmenu .dropdown ul li{
  width: 100%;
}
.navmenu .dropdown ul li a{
  display: block;
  padding: 3px 20px;
  counter-reset: #333;
  font-size: 14px;
  text-decoration: none;
  /* white-space: ; */
}


.navmenu .dropdown ul li a:hover {
  background-color: #f5f5f5;
  color: #304ee6;
}


.navmenu .dropdown .dropdown ul {
  top: 0;
  right: 100%;
  text-decoration: none;
}


.mobile-nav-toggle {
  display: none;
  font-size: 26px;
  color: #304ee6;
  cursor: pointer;
}


@media (max-width: 1200px) {
  .navmenu > ul {
    display: none;
  }

  .mobile-nav-toggle {
    display: block;
  }
}

.container
{
  display: flex;
  justify-content: center;
  background-color: #a46464;

}





.hero-section
{
  background: linear-gradient(135deg, var(--surface-color) 0%,
 color-mix(in srgb, var(--accent-color), transparent 95%) 100%);
}

.rating-section
{
  display: inline-flex ;
 gap: 25px;
align-items: center;
  width:500px;
  margin-left: 70px;

  color: #175cdd;
  text-align: center;
  
}
.sield
  {
   
    background-color: rgba(0, 123, 255, 0.2);
    border-radius: 15px;
    height: 40px;
    width: 100px;
    align-content: center;

  }

  .time
  {
   
    background-color: rgba(0, 123, 255, 0.2);
    border-radius: 15px;
    height: 40px;
    width: 150px;
    align-content: center;

  }

  .star
  {
   
    background-color: rgba(0, 123, 255, 0.2);
    border-radius: 15px;
    height: 40px;
    width: 100px;
    align-content: center;
  }


  .hero1 h1
  {
    font-size: 57px;
   
  }

  .highlight
  {
    color: #304ee6;
    text-decoration: underline;
  }
  .para
  {
   font-family: "Roboto", system-ui, -apple-system, "Segoe UI",
  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  margin-right: 120px; 

  color: gray;
  font-size: large;
  margin-top: 10px;
  }

  .medical
  {
    display: flex;
    gap: 25px;
  }

  .patient h2
  {
  color: #304ee6;
  font-size: xx-large;
  }
  .patient p
  {
    color: gray;
    font-weight: 200;
  }

  .btn{
    display: flex;
    gap: 40px;
   

  }

  .appointment
  {
     border: 1px solid black;
     width: 200px;
     height: 45px;
     border-radius: 100px;
    
     text-align: center;
     align-content: center;
     background-color: #304ee6;
    
     font-size: larger;
  }
.appointment a
{
  color: #eaecef;
 text-decoration: none;
}
  
.watchstory
{
  border: 1px solid #304ee6;
  width: 170px;
  border-radius: 45px;
  text-align: center;
  align-content: center;

}
.watchstory a{
  columns: #304ee6;
  text-decoration: none;
   font-size: larger;
   display: inline-block;

}
.watchstory a:hover
{
  background-color: #304ee6;
  color: white;
}

#image
{
  width: 500px;
  height: 500px;
  align-items: center;

}
.hero2
{
  display: flex;
  align-items: center;
  
}
